<div class="form-header">
    <h2>Enter Patient Name</h2>
  </div>
  <form method="post" action="/contact" novalidate>
    <div class="form-field">
      <label for="firstName">First Name</label>
      <textarea class="input" id="firstName" name="firstName" rows="1" autofocus></textarea>
    </div>
    <div class="form-field">
      <label for="lastName">Last Name</label>
      <textarea class="input" id="lastName" name="LastName" rows="1" autofocus></textarea>
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Send</button>
    </div>
  </form>